.nav{
 background-color: white;
 padding: 10px;
 position: sticky;
 top: 0px;
 list-style: none;
 margin: 0;
}

.navitem{
 display: inline-block;
 margin-left: 30px;
 position: relative;
}

.nav-link{
 text-decoration: none;
 font-size: 20px;
 color: black;
}

.dropdown-menu{
 background-color: lightgray;
 list-style: none;
 padding: 10px 0;
 margin: 0;
 position: absolute;
 top: 100%;
 left: 0;
 display: none;
 z-index: 10;
 min-width: 150px;
}

.navitem:hover > .dropdown-menu{
 display: block;
}

.dropdown-item{
 padding: 10px 20px;
}

.dropdown-item a{
 text-decoration: none;
 color: black;
 font-size: 16px;
}

.dropdown-item:hover{
 background-color: #ddd;
}
.nav{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
.image{
 padding: 10px;
 padding-left: 150px;
}

.phn{
    display: flex;
    justify-content: space-between;
    p::first-letter{
        color: black;
        font-size: 45px;
        font-family: Georgia, 'Times New Roman', Times, serif;

    }
    
}
.moto{
    display: flex;
    
}
.moto-m{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.moto-pg{
    padding-left: 40px;
}
.course-h{
    display: flex;
    align-items: center;
    justify-content: center;
}
.course{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.course-main{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}